<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gerador_hash.Properties.Settings.db_aplicativo_kpiConnectionString" connectionString="Dsn=MySQL - Remote;uid=jefersondev;pwd=h4ck3rtcho!@" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
